<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<base href="{{ base_url }}">
<title>COVID Moonshot Sprint {{ sprint_number }} Analysis</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>$(function () {
  $('[data-toggle="popover"]').popover({container: "body"})
})
</script>
<style>
html * {
  font-family: 'Roboto', sans-serif;
}

i {
    font-style: normal
}

td.smiles {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75em;
}

td.binding span.estimate {
    white-space: nowrap;
}

td.binding span.point {
    font-weight: bold;
}

td.binding span.point > span.negative {
    color: green;
}

td.binding span.stderr {
    color: #555;
}

td.thumbnail {
    text-align: center;
}

td.thumbnail img {
    height: 80px;
}
</style>
</head>
<body class="mx-3">

{% set navigation_bar = [
    ("index.html", "index", "Summary"),
    ("compounds/index.html", "compounds", "Compounds"),
    ("microstates/index.html", "microstates", "Microstates"),
    ("transformations/index.html", "transformations", "Transformations"),
    ("reliable_transformations/index.html", "reliable_transformations", "Reliable transformations")
] -%}

{% set active_page = active_page | default("index") -%}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="index.html">
    <i class="fa fa-rocket pr-3"></i>
    COVID Moonshot Sprint {{ sprint_number }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for href, id, caption in navigation_bar %}
      <a class="nav-item nav-link {% if id == active_page %}active{% endif %}" href="{{ href }}">
        {{ caption }}{% if id == active_page %}<span class="sr-only">(current)</span>{% endif %}
      </a>
      {% endfor %}
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
<div class="updated">Last updated {{ timestamp.isoformat() }}</div>
<div>Generated by <a href="https://github.com/choderalab/fah-xchem/">fah-xchem</a> version {{ fah_xchem_version }}</div>
</body>
</html>
