{% extends "base.html" %}
{% import "postera.html" as postera %}
{% set active_page = "index" %}
{% block content %}

<h3>Description</h3>
  <p>{{ series.metadata.description }}</p>
<h3>Progress</h3>
<div class="progress my-3" style="height: 30px">
  <div class="progress-bar" role="progressbar" style="width: {{ progress.percent_complete() }}%" aria-valuenow="{{ progress.percent_complete() }}" aria-valuemin="0" aria-valuemax="100">
    {{ '%.2f' | format(progress.percent_complete()) }}%
  </div>
</div>
<h3>Distributions</h3>
<a href="relative_fe_dist.pdf">
  <img src="relative_fe_dist.png" alt="relative free energy distribution">
</a>
<a href="cumulative_fe_dist.pdf">
  <img src="cumulative_fe_dist.png" alt="cumulative free energy distribution">
</a>
<h3>Leaderboard</h3>
<table class="table table-striped table-hover">
  <tr>
    <th>Rank</th>
    <th colspan="2">Compound</th>
    <th>SMILES</th>
    <th>ΔG / kcal mol<sup>-1</sup></th>
  </tr>
  {% for compound in (series.compounds | selectattr("free_energy", "ne", None) | sort(attribute="free_energy.point"))[:10] %}
  <tr>
    <td class="rank">{{ loop.index }}</td>
    <td >
      {% if loop.index <= num_top_compounds %}
      <a href="compounds/{{ compound.metadata.compound_id }}.html">{{ compound.metadata.compound_id }}</a>
      {% else %}
      {{ compound.metadata.compound_id }}
      {% endif %}
      {{ postera.maybe_link(compound.metadata.compound_id) }}
    </td>
    <td class="thumbnail">
      <a href="molecule_images/{{ compound.metadata.smiles | smiles_to_filename }}.svg">
        <img src="molecule_images/{{ compound.metadata.smiles | smiles_to_filename }}.svg" alt="molecule" title="{{ compound.metadata.compound_id }}">
      </a>
    </td>
    <td class="smiles">{{  compound.metadata.smiles }}</td>
    <td class="binding">
      {% if compound.free_energy %}
      <span class="estimate">
        <span class="point">{{ (compound.free_energy * KT_KCALMOL) | format_point }}</span>
        <span class="stderr"> ± {{ (compound.free_energy * KT_KCALMOL) | format_stderr }}</span>
      </span>
      {% else %}
      no data
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<h3>Raw data</h3>
<ul><li><a href="analysis.json">analysis.json</a></li></ul>
<h3>Structures</h3>
<ul>
  <li><a href="ligands.pdf">ligands.pdf</a></li>
  <li><a href="ligands.csv">ligands.csv</a></li>
  <li><a href="ligands.sdf">ligands.sdf</a></li>
  <li><a href="proteins.pdb">proteins.pdb</a></li>
</ul>
{% endblock %}
