{% extends "base.html" %}
{% import "postera.html" as postera %}
{% set active_page = "retrospective_analysis" %}
{% block content %}
<h3>Retrospective Analysis</h3>
<div class="my-3">
Showing {{ start_index }} through {{ end_index }} of {{ series.compounds | length }}
<span style="white-space: nowrap;">
{% if prev_page %}<a href={{ prev_page }}><i class="fa fa-backward px-1"></i></a>{% endif %}
{% if next_page %}<a href={{ next_page }}><i class="fa fa-forward px-1"></i></a>{% endif %}
</span>
</div>
<table class="table table-striped table-hover">
  <tr>
    <th>Rank <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Rank</b>" data-content="The rank of a particular compound, with compounds predicted to be most potent by DiffNet (most negative binding free energy, smallest IC50, or largest pIC50) listed first."></i></th>
    <th colspan="2">Compound <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Compound</b>" data-content="The unique compound identifier (or PostEra ID if available)."></i></th>
    <th>SMILES <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>SMILES</b>" data-content="The OpenEye canonical isomeric simplified molecular-input line-entry system (SMILES) string for a compound in its canonical protonation state. Stereochemistry is ambiguous for racemates. <br /><br /> <b>Note</b>: this may differ from the SMILES that appear on the PostEra website or originally provided SMILES representations."></i></th>
    <th>ΔG / kcal M<sup>-1</sup> <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Absolute binding free energy</b>" data-content="The computed absolute binding free energy for a particular compound from DiffNet, accounting for all enumerated microstates (stereochemical, protonation, and tautomeric states) associated with this compound. <br /><br /> More negative binding free energies are more favorable. <br /><br /> Available experimental fluorescence pIC50 is used when available to correct relative free energy estimates to absolute free energies."></i></th>
    <th>pIC50 <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>pIC50</b>" data-content="The predicted pIC50, which corresponds to -log10(IC50 / (1 Molar)), where IC50 is the concentration at which 50% inhibition is achieved."></i></th>
  </tr>
  {% for compound in compounds %}
  {% set url = compound|experimental_data_url -%}
  {% if url is not none %}
  <tr>
    <td class="rank">{{ start_index + loop.index - 1 }}</td>
    <td >
      {% if loop.index <= num_top_compounds %}
      <a href="compounds/{{ compound.metadata.compound_id }}.html">{{ compound.metadata.compound_id }}</a>
      {% else %}
      {{ compound.metadata.compound_id }}
      {% endif %}
      {{ postera.maybe_link(compound.metadata.compound_id) }}
      {{ postera.maybe_experimental_data(compound) }}
    </td>
    <td class="thumbnail">
      <a href="molecule_images/{{ compound.metadata.smiles | smiles_to_filename }}.svg">
        <img src="molecule_images/{{ compound.metadata.smiles | smiles_to_filename }}.svg" alt="molecule" title="{{ compound.metadata.compound_id }}">
      </a>
    </td>
    <td class="smiles">{{  compound.metadata.smiles }}</td>
    <td class="binding">
      {% if compound.free_energy %}
      <span class="estimate">
        <span class="point">{{ (compound.free_energy * KT_KCALMOL) | format_point }}</span>
        <span class="stderr"> ± {{ (compound.free_energy * KT_KCALMOL) | format_stderr }}</span>
      </span>
      {% else %}
      no data
      {% endif %}
    </td>
    <td class="binding">
      {% if compound.free_energy %}
      <span class="estimate">
        <span class="point">{{ (-compound.free_energy * KT_PIC50) | format_point }}</span>
        <span class="stderr"> ± {{ (compound.free_energy * KT_PIC50) | format_stderr }}</span>
      </span>
      {% else %}
      no data
      {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endblock %}
