{% extends "base.html" %}
{% import "postera.html" as postera %}
{% set active_page = "retrospective_compounds" %}
{% block content %}
<h3>Retrospective Compounds<i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Retrospective compounds (racemates only)</b>" data-content="This page contains a retrospective analysis of the accuracy of DiffNet MLE estimates of racemic compounds compared with experimental data."></i></th></h3>
<!-- TODO: Add comparison of experimental and correct compound absolute free energies -->
<!-- Only show retrospective compound free energy comparison between racemates -->
<a href="retrospective-compounds.png">
  <img src="retrospective-compounds.png" alt="retrospective compounds plot (racemates only)">
</a>
<div class="my-3">
Showing {{ start_index }} through {{ end_index }} of {{ transformations | length }}
<span style="white-space: nowrap;">
{% if prev_page %}<a href={{ prev_page }}><i class="fa fa-backward px-1"></i></a>{% endif %}
{% if next_page %}<a href={{ next_page }}><i class="fa fa-forward px-1"></i></a>{% endif %}
</span>
</div>


<table class="table table-striped table-hover">
  <!-- Table header -->
  <tr>
    <th>Rank <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Rank</b>" data-content="The rank of a particular compound, with compounds predicted to be most potent by DiffNet (most negative binding free energy, smallest IC50, or largest pIC50) listed first."></i></th>
    <th colspan="2">Compound <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Compound</b>" data-content="The unique compound identifier (or PostEra ID if available)."></i></th>
    <th>SMILES <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>SMILES</b>" data-content="The OpenEye canonical isomeric simplified molecular-input line-entry system (SMILES) string for a compound in its canonical protonation state. Stereochemistry is ambiguous for racemates. <br /><br /> <b>Note</b>: this may differ from the SMILES that appear on the PostEra website or originally provided SMILES representations."></i></th>
    <th>ΔG<sub>calc</sub> / kcal M<sup>-1</sup> <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Absolute binding free energy</b>" data-content="The computed absolute binding free energy of the compound (including all microstates)."></i></th>
    <th>ΔG<sub>exp</sub> / kcal M<sup>-1</sup> <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Experimental binding free energy</b>" data-content="The experimental absolute binding free energy."></i></th>
    <th>|ΔG-ΔG<sub>exp</sub>| / kcal M<sup>-1</sup> <i type="button" class="fa fa-info-circle" data-html="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="<b>Absolute binding free energy error</b>" data-content="Unsigned error between computed and experimental absolute binding free energies."></i></th>
  </tr>

  <!-- Table rows show compounds in order of experimental error -->
  <!-- The list of compounds will already be filtered and provided in the appropriate order -->
  {% for compound in compounds %}
  <tr>
    <!-- Rank -->
    <td class="rank">{{ start_index + loop.index - 1 }}</td>
    <!-- Compound metadata -->
    <td >
      {% if loop.index <= num_top_compounds %}
      <a href="compounds/{{ compound.metadata.compound_id }}.html">{{ compound.metadata.compound_id }}</a>
      {% else %}
      {{ compound.metadata.compound_id }}
      {% endif %}
      {{ postera.maybe_link(compound.metadata.compound_id) }}
      {{ postera.maybe_experimental_data(compound) }}
    </td>
    <td class="thumbnail">
      <a href="molecule_images/{{ compound.metadata.smiles | smiles_to_filename }}.svg">
        <img src="molecule_images/{{ compound.metadata.smiles | smiles_to_filename }}.svg" alt="molecule" title="{{ compound.metadata.compound_id }}">
      </a>
    </td>
    <td class="smiles">{{  compound.metadata.smiles }}</td>
    <!-- Computed binding free energy in kcal/mol -->
    <td class="binding">
      {% if compound.free_energy %}
      <span class="estimate">
        <span class="point">{{ (compound.free_energy * KT_KCALMOL) | format_point }}</span>
        <span class="stderr"> ± {{ (compound.free_energy * KT_KCALMOL) | format_stderr }}</span>
      </span>
      {% else %}
      no data
      {% endif %}
    </td>
    <!-- Experimental binding free energy in kcal/mol -->
    <td class="binding">
      {% if compound.free_energy %}
      <span class="estimate">
        <span class="point">{{ (compound.experimental_free_energy * KT_KCALMOL) | format_point }}</span>
        <span class="stderr"> ± {{ (compound.experimental_free_energy * KT_KCALMOL) | format_stderr }}</span>
      </span>
      {% else %}
      no data
      {% endif %}
    </td>
    <!-- Absolute error in binding free energy in kcal/mol -->
    <td class="binding">
      {% if compound.free_energy %}
      <span class="estimate">
        <span class="point">{{ (compound.absolute_free_energy_error * KT_KCALMOL) | format_point }}</span>
        <span class="stderr"> ± {{ (compound.absolute_free_energy_error * KT_KCALMOL) | format_stderr }}</span>
      </span>
      {% else %}
      no data
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
